[submodule "ext/ac-slime"]
	path = ext/ac-slime
	url = git://github.com/purcell/ac-slime.git
[submodule "ext/scel"]
	path = ext/scel
	url = https://github.com/qdot/scel.git
[submodule "ext/align-cljlet"]
	path = ext/align-cljlet
	url = git://github.com/gstamp/align-cljlet.git
[submodule "ext/distel"]
	path = ext/distel
	url = git://github.com/massemanet/distel.git
[submodule "ext/chef-mode"]
	path = ext/chef-mode
	url = git://github.com/mpasternacki/chef-mode.git
