# Emacs temp files
*~

saveplace

# Byproducts of literate processing
*.html
*.tex
*.pdf

# Generated ELisp files
emacs-init.el

# Don't need to keep SMEX listing around
smex-items

url

# Autocomplete data doesn't need to be saved
ac-comphist.dat

# El-Get stuff isn't needed
el-get/*
init/*.elc

elpa/*


bookmarks
projectile.cache
projectile-bookmarks.eld
recentf
